.thumbnail img {
    width: 100%
}

.thumbnail .caption-full {
    padding: 9px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .btn {
    margin-bottom: 9px;
}

hr {
    margin-bottom: 0
}

.col-md-12 {
    padding-top: 2em
}

#buttons form {
    display: inline-block;
    margin-bottom: 0
}

#buttons .btn {
    margin-bottom: 0;
    margin-right: 0.3em
}